
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

#body{  
	background-image: url(../../paengj1997.github.io/acme/images/site/background.jpg)
	background-size: cover;
	background-repeat: no-repeat;
	font-family:'Permanent Marker', cursive;
	font-size: 20px;
	width: 95%;
}

#main{
    display: flex;
	flex-direction: column;
	background-color: white;
}

.pageheader{
	background-color: #ffffff;
	background-size: contain;
	height: 120px;
	background-repeat: no-repeat;
}

#nav{
	display: flex;
	background-color: #de2226;
}

#nav ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	flex-grow: 1;
	padding: 0;
	font-size: 12px;
	font-weight: bold;
}

#nav a{
	color: #ffffff;
	text-decoration: none;
}

#nav a:hover {
	color: #0000ee;
}

#d {
	padding-left: 10px;
	display: flex;
	font-size: 25px;
	font-weight: bolder;
}

#hero {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	background-image: url("../../paengj1997.github.io/acme/images/site/feature.jpg")
	background-repeat: no-repeat;
	background-size: cover;
	color: #de2226;
}

#hero ul {
	list-style: none;
	font-size: 10px;
	padding: 0;
	padding-left: 10px;
	font-weight: bold;
	margin: 0;
	background-color: rgba(220, 220, 220, .6);
	width: 55%;
}

#hero img {
	width: 70%;
	height: auto;
}

#featured {
    margin-left: 16px;
}

#reviews {
    width: 370px;
}

#reviews h3 {
    margin-top: -14px;
    margin-bottom: -10px;
}

.article {
    display: flex;
    flex-flow: row wrap;
}

#recipes h3 {
    margin: 5px 0 -5px 0;
}

#recipe-content {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    /*    flex-grow: 1;*/
    width: 25em;
}

.food {
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 4px;
    border-color: lightgray;
    border-style: solid;
    width: 5em;
}

figure {
    width: 30%;
    text-align: center;
    margin: 8px;
}

.container {
    background-color: #FFFFFF;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom-width: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.secondary_header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ff0000;
    clear: left;
}

.left_article {
    background-color: #FFFFFF;
    width: 60%;
    float: left;
    font-family: "Source Sans Pro";
    color: #343434;
    padding-bottom: 15px;
}

.noDisplay {
    display: none;
}

.container .left_article h1 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    color: #717070;
    font-weight: bold;
    text-transform: uppercase;
}

.right_article {
    width: 40%;
    float: left;
    background-color: #ffffff;
}

#product-content {
    display: flex;
}

#prod-description {
    height: 300px;
    background-repeat: no-repeat;
    list-style: none;
    justify-content: flex-end;
    margin-left: 8%;
    padding-right: 8%
}

#product-zone {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

#product-content h1 {
    font-size: 40px;
}

#prod-image {
    height: 500px;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 33%;
}

#page-footer {
    background-color: #fff;
    color: #000000;
    padding: 0 .5em;
    margin-bottom: 2.5em;
    font-size: 12px;
    text-align: center;
}

#page-footer p {
    margin: 0;
}

noscript {
    color: #fff;
}

.column_title {
    padding-top: 25px;
    padding-bottom: 25px;
}

.copyright {
    text-align: center;
    background-color: #990033;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    border-top-width: 2px;
    font-family: "Source Sans Pro";
}

}

/**************************/


/*for laptop screens*/

@media only screen and (min-width: 750px) {
	footer {
		font-size: 30px;
	}
    #body{
		width: 98%
	}
	#contentTitle {
		font-size: 30px;
		padding: 5px;
		padding-left: 15px;
	}
    #nav {
		font-size: 20px;
	}
    #nav a {
		display: flex;
		font-size: 20px;
	}
	#hero {
		flex-direction: row;
		height: 480px;
		justify-content: flex-end;
		background-image: url(../images/site/feature.jpg);
		background-size: cover;
	}
	#hero ul {
		font-size: 40px;
		width: 55%;
		height: 100%;
	}
	#hero img {
		width: 50%;
		height: auto;
	}
	#infoWrapper {
		display: flex;
		flex-direction: row;
	}
	#featuredRecipies {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 50px;
	}
	#featuredRecipies img {
		width: 40%;
		height: auto;
	}
	#featuredRecipies a {
		font-size: 20px;
	}
	#rocketReviews {
		display: flex;
		flex-direction: column;
		width: 50%;
		justify-content: center;
	}
	#productImg {
		display: flex;
		justify-content: center;
		padding-top: 15px;
	}
	#productImg img {
		width: auto;
		height: 70%;
	}
	#productInfo {
		font-size: 35px;
	}

	#price{
		font-size: 35px;
	}
}
